.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem .5rem 2rem;
    color: rgb(249 250 251);
    text-decoration: solid;
    font-style: italic;
    font-size: 1.5rem;
    text-transform: uppercase ;
    text-decoration: none;
    background-color: rgb(27, 47, 114);
}


.mainH1{
    font-size: 2.25rem;
    padding-left: 1.5rem;
    padding-right: 14rem;
}



.LinkTag{
   padding: .5rem;
   border-radius: 1rem;

}

.LinkTag:hover{
    background: fixed;
    background-color: #000100;
}







